html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
}
body,
html {
  min-height: 100vh;
}

a {
  color: #278aff;
}

ul {
  list-style-type: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.header {
  background: #f8f6f7 url("../content/images/header_bg.png");
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 165px 0px 163px; /*163 bottom*/
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__top .logo {
  font-weight: 700;
  font-size: 24px;
}
.header__top ul {
  margin: 6px 0px 0px 0px;
  font-size: 14px;
  font-weight: 500;
}

.header__top ul a:hover {
  color: #00bf78;
}
.header__top .contacts {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 11px;
}
.header__top .contacts a {
  font-weight: 500;
  font-size: 18px;
}

.header__sign h1 {
  max-width: 493px;
  font-weight: 600;
  margin: 0px;
  padding: 5px 0px;
}

.header__social li:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.header__sign h1,
.main__container h1 {
  font-size: 48px;
}
.header__sign span {
  font-size: 20px;
}

button.sign_up {
  border-radius: 24px;
  background-color: #fb9475;
  color: white;
  font-size: 14px;
  padding: 17px 30px;
  border: 0px;
}

button.sign_up:hover {
  cursor: pointer;
  filter: brightness(110%);
}

button.sign_up:active {
  filter: brightness(85%);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__girl {
  position:relative;
}


.header__girl img {
  position:relative;
  display:block;
  z-index:10;
}
.header__girl::before {
  content: '';
  background: #FB9475;
  position: absolute;
  width: 472px;
  height: 472px;
  left: 9.6%;
  top: 28.2%;
  border-radius: 50%;
}

.header__content p {
  margin: 17px 0px 59px 0px;
}

.main__container {
  margin: 0px 165px;
}
/* FOOTER STYLES */

.footer__container {
  margin: 20px 165px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__info a {
  margin-top: 8px;
}

.header__top ul,
.footer__menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu a,
.header__top a {
  color: #333;
  text-decoration: none;
}

nav.links li:not(:nth-last-child(1)) {
  margin-right: 28px;
}
