html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  min-width: 320px;
}

body,
html {
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

h1 {
  font-size: 48px;
}
.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.header__container {
  padding: 30px 0px 130px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
}

.header {
  background: #f8f6f7 url("../content/images/header_bg.png");
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 120px;
}

.header__top .logo {
  font-weight: 700;
  font-size: 24px;
}
.header__top .links__list {
  margin: 6px 0px 0px 0px;
  font-size: 14px;
  font-weight: 500;
}

.links__item a:hover {
  color: #00bf78;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 11px;
}
.contacts a {
  font-weight: 500;
  font-size: 18px;
}

.sign__title {
  max-width: 493px;
  font-weight: 600;
  margin: 0px;
  padding: 5px 0px;
}

.header__social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

.header__social li:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.social__item a:hover {
  filter: opacity(40%);
}

.sign__subtitle {
  font-size: 20px;
  margin-bottom: 60px;
}

.btn {
  border-radius: 24px;
  background-color: #fb9475;
  color: white;
  border: 0px;
  text-align: center;
}

.btn_large {
  height: 48px;
  width: 203px;
  font-size: 14px;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(85%);
}

.header__girl {
  position: absolute;
  top: 81px;
  right: 93px;
}

.header__girl img {
  position: relative;
  display: block;
  z-index: 10;
}
.header__girl::before {
  content: "";
  background: #fb9475;
  position: absolute;
  width: 472px;
  height: 472px;
  left: 9.6%;
  top: 28.2%;
  border-radius: 50%;
}

.main {
  padding: 93px 165px 0px 165px;
}

.main__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-us__description {
  max-width: 597px;
  font-size: 16px;
  line-height: 26px;
}

.about-us__subtitle {
  font-size: 20px;
  line-height: 32px;
}

.about-us__fulltext a {
  color: #278aff;
}

.about-us__fulltext p,
.less {
  display: none;
}

.about-us__fulltext:target p,
.about-us__fulltext:target .less {
  display: block;
}

.about-us__fulltext:target .more {
  display: none;
}

.about-us__video-container {
  border-radius: 8px;
  position: relative;
  max-width: 445px;
  min-width: 297px;
  width: 100%;
  height: 297px;
  background: url("./content/images/video_placeholder.png") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.video_overlay {
  position: absolute;
  background: #000;
  opacity: 0.2;
  inset: 0;
}

.about-us__video-container::after {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  content: url("./content/images/play.svg");
  transition: 0.2s;
  z-index: 2;
}

.about-us__video-container::before {
  position: absolute;
  content: "Короткое видео о нас";
  color: white;
  font-size: 16px;
  line-height: 26px;
  top: 168px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.about-us__video-container:hover::after {
  transform: scale(1.2) translateX(-40%);
  cursor: pointer;
}

.main__perks {
  margin-top: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.perk-item__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

.perk-item__description h4 {
  margin: 30px 0px 12px 0px;
  font-size: 18px;
  font-weight: 600;
}

.perk-item {
  max-width: 350px;
}

.perk-item img {
  display: block;
  margin: auto;
}

/* FOOTER STYLES */

.footer__container {
  padding: 20px 0px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__info a {
  color: #278aff;
  text-decoration: underline;
}

.links__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links__list .links__item:not(:nth-last-child(1)) {
  margin-right: 28px;
}
