/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__girl {
    opacity: 0.2;
    margin: auto;
    z-index: 0;
    top: 0;
    right: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    &__top {
      flex-direction: column;
      gap: 30px;
      z-index: 1;
      align-items: center;
    }

    &__girl {
      display: none;
    }

    &__sign {
      text-align: center;
    }

    &__social {
      top: 30px;
      transform: none;
      z-index: 2;
    }

    & .title {
      margin: auto;
    }
  }

  .contacts {
    text-align: center;
  }

  .logo {
    margin: auto;
  }

  .links__list {
    flex-direction: column;
    align-items: center;
  }

  .links__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
