@import "./_vendors";
@import "./_variables";
@import "./_common";

.title {
  font-size: 48px;
  margin-top: 100px;
  font-weight: 700;
}

.header__container {
  padding: 30px 0px 130px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
}

.header {
  background: #f8f6f7 url("../content/images/header_bg.png");
  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    position: relative;
  }
  & .logo {
    font-weight: 700;
    font-size: 24px;
  }
  & .links__list {
    font-size: 14px;
    font-weight: 500;
  }
}

.links__item :hover {
  color: #00bf78;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 11px;
}

.contacts .contacts__number {
  font-weight: 500;
  font-size: 18px;
}

.sign__title {
  max-width: 493px;
  font-weight: 600;
  margin: 0px;
  padding: 5px 0px;
}

.sign__subtitle {
  font-size: 20px;
  margin-bottom: 60px;
}
.header__social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

.header__social li:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.social__item a:hover {
  filter: opacity(40%);
}

.btn {
  border-radius: 24px;
  background-color: #fb9475;
  color: white;
  border: 0px;
  text-align: center;
  flex-shrink: 0;
}

.btn_large {
  height: 48px;
  width: 203px;
  font-size: 14px;
}

.btn_small {
  height: 34px;
  width: 112px;
  font-size: 12px;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.btn:active,
.portfolio__btn:active {
  filter: brightness(85%);
}

.header__girl {
  position: absolute;
  top: 81px;
  right: 93px;
}

.header__girl img {
  position: relative;
  display: block;
  z-index: 10;
}
.header__girl::before {
  content: "";
  background: #fb9475;
  position: absolute;
  width: 472px;
  height: 472px;
  left: 9.6%;
  top: 28.2%;
  border-radius: 50%;
}

.main {
  padding: 0px 165px;
}

.about-us__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.about-us__description {
  max-width: 597px;
  font-size: 16px;
  line-height: 26px;
}

.about-us__subtitle {
  font-size: 20px;
  line-height: 32px;
}

.about-us__text a {
  color: #278aff;
}

.about-us__text_more,
.less {
  display: none;
}

.about-us__text:target .about-us__text_more,
.about-us__text:target .less {
  display: block;
}

.about-us__text:target .more {
  display: none;
}

.about-us__video-container {
  border-radius: 8px;
  position: relative;
  max-width: 445px;
  min-width: 297px;
  width: 100%;
  height: 297px;
  background: url("../content/images/video_placeholder.png") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.video_overlay {
  position: absolute;
  background: #000;
  opacity: 0.2;
  inset: 0;
}

.about-us__video-container::after {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  content: url("../content/images/play.svg");
  transition: 0.2s;
  z-index: 2;
}

.about-us__video-container::before {
  position: absolute;
  content: "Короткое видео о нас";
  color: white;
  font-size: 16px;
  line-height: 26px;
  top: 168px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.about-us__video-container:hover::after {
  transform: scale(1.2) translateX(-40%);
  cursor: pointer;
}

.main__perks {
  margin-top: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.perk-item__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

.perk-item__title {
  margin: 30px 0px 12px 0px;
  font-size: 18px;
  font-weight: 600;
}

.perk-item {
  max-width: 350px;
}

.perk-item__icon {
  display: block;
  margin: auto;
}

.content-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 50px;
}

.content-item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-item_narrow {
  max-width: 255px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 8px;
}

.content-item__title {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0px 8px 0px;
}

.content-item__text {
  font-size: 12px;
  line-height: 20px;
}

.prices__navigation {
  display: flex;
  flex-direction: row;
}

.prices__table {
  display: none;
  margin-top: 50px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.prices__table.active-table {
  display: flex;
}
.prices__item {
  min-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prices-description__title {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

.prices__subtitle {
  font-size: 14px;
}

.prices__price {
  font-size: 20px;
  font-weight: 600;
  color: #00bf78;
}

.prices__link-item.active-item a {
  text-decoration: underline;
  color: #00bf78;
}

.content-item__text {
  font-size: 14px;
  line-height: 17px;
}

.content-item__experience {
  font-size: 12px;
  font-weight: 300;
}
.content-item__picture-container,
.portfolio-item {
  position: relative;
  cursor: pointer;
}

.content-item__picture-container:hover::before,
.portfolio-item:hover::before {
  position: absolute;
  content: "";
  background-color: #000;
  opacity: 0.5;
  inset: 0;
  border-radius: 8px;
  z-index: 2;
}

.content-item__picture-container::after {
  visibility: hidden;
  position: absolute;
  content: "Записаться к мастеру";
  color: white;
  font-size: 14px;
  line-height: 17px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.content-item__picture-container:hover::after,
.portfolio-item:hover::after {
  visibility: visible;
  transform: scale(1.2) translateX(-40%) translateY(-40%);
  transition: 0.2s;
}

.portfolio__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio__navigate-buttons {
  margin-top: 100px;
}

.portfolio__btn {
  cursor: pointer;
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px;
}
.portfolio__btn.left {
  margin-right: 16px;
  background-image: url("../content/images/button-left.svg");
}
.portfolio__btn.right {
  background-image: url("../content/images/button-right.svg");
}

.portfolio__btn:hover {
  background-color: #f8f6f7;
}

.portfolio-item__pic {
  max-width: 338px;
}
.portfolio-item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/*TODO Не знаю как сделать во всю ширину экрана, в текущем способе есть горизонтальный скролл и отступ от края больше чем в макете*/
/*И при увеличениии размера экрана тоже растягивается :(*/
.portfolio__content {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*TODO не знаю как сделать тень + текст + иконку поиска по ховеру, получается только что-то два из трёх.
 Пришлось засунуть текст в картинку*/
.portfolio-item::after {
  visibility: hidden;
  position: absolute;
  content: url("../content/images/Search.svg");
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

/* FOOTER STYLES */

.footer__container {
  padding: 20px 0px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__info a {
  color: #278aff;
  text-decoration: underline;
}

.links__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links__item:not(:nth-last-child(1)) {
  margin-right: 28px;
}

@import "./_media";
